target
.project
.classpath
.settings
.idea
*.iml
*.log
*.ipr
*.iws
copyToUSB.bat
**/.classpath
**/*.log
**/target
**/.project
**/.settings
**/*.iml
**/*.ipr
**/**/.classpath
**/**/*.log
**/*.iws
**/**/target
**/**/.project
**/**/.settings
**/**/*.iml
**/**/*.ipr
**/**/*.iws
integrationNxParser/src/main/java/org

